<mat-card class="country-card">
    <div *ngIf="countries$ | async; else loading">
        <mat-card-header class="country-card-header">
            <mat-card-title>{{ title }}</mat-card-title>
            <mat-card-subtitle class="country-controls-form">
                <mat-form-field appearance="outline" class="input-group">
                    <mat-label>Search</mat-label>
                    <input autofocus matInput placeholder="Search desired country" [(ngModel)]="filterTerm" />
                    <mat-icon class="clear-btn" matSuffix (click)="clearFilterTerm()">clear</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline" class="input-group">
                    <mat-label>Year</mat-label>
                    <mat-select [(ngModel)]="selectedYear" class="country-select">
                        <mat-option *ngFor="let year of years" [value]="year">
                            {{year}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="country-card-content">
            <mat-selection-list class="country-list-container" [multiple]="false">
                <mat-list-option *ngFor="let country of countries | filter: filterTerm" [value]="country.code"
                    (click)="goToCountryHolidays(country)">
                    {{country.name}}
                </mat-list-option>
            </mat-selection-list>
        </mat-card-content>
    </div>
    <ng-template #loading>
        <div class="loading-container">
            <mat-spinner></mat-spinner>
            <mat-card-title class="title">Loading...</mat-card-title>
        </div>
    </ng-template>
</mat-card>