<mat-card class="login-card">
    <mat-card-header>
        <mat-card-title>Welcome to Holidays app!</mat-card-title>
        <mat-card-subtitle>Please, login to your account</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="login-card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <mat-form-field appearance="outline" class="input-group">
                    <mat-label>Username</mat-label>
                    <input autofocus matInput placeholder="Username" formControlName="username"
                        [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" />
                    <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                        <div *ngIf="f['username'].errors">Username is required</div>
                    </div>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field appearance="outline" class="input-group">
                    <mat-label>Password</mat-label>
                    <input [type]="shouldShowPassword ? 'text' : 'password'" matInput placeholder="Password"
                        formControlName="password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
                    <mat-icon class="clear-btn" matSuffix (click)="toggleShowPassword()">remove_red_eye</mat-icon>
                </mat-form-field>
                <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                    <div *ngIf="f['password'].errors">Password is required</div>
                </div>
            </div>
            <div class="form-group">
                <button mat-raised-button [disabled]="f['password'].errors || f['username'].errors || loading"
                    class="login-btn" color="primary"><span *ngIf="loading"
                        class="spinner-border spinner-border-sm mr-1"></span>
                    Login</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>