.app-toolbar span {
  cursor: pointer;
}
.app-toolbar {
  display: flex;
  justify-content: space-between;
}

.user-controls {
    display: grid;
    grid-template-columns: 80% 50%;
    grid-gap: 12px;
    grid-template-rows: auto;
}