.app-toolbar span {
  cursor: pointer;
}
.app-toolbar {
  display: flex;
  justify-content: space-between;
}

.user-controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px; 
}