<mat-card class="holiday-card">
    <div *ngIf="holidays$ | async as data; else loading">
        <mat-card-header class="holiday-card-header">
            <div mat-card-avatar>
                <mat-icon class="back-btn" routerLink="/home">arrow_back</mat-icon>
            </div>

            <mat-card-title>
                Holidays of {{country}}
            </mat-card-title>

        </mat-card-header>
        <mat-card-content>
            <table mat-table [dataSource]="data.holidays" class="mat-elevation-z8 holiday-table">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

                <!-- Date Column -->
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <!-- LocalName Column -->
                <ng-container matColumnDef="local_name">
                    <th mat-header-cell *matHeaderCellDef> Local Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.local_name}} </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>


        </mat-card-content>
    </div>

    <ng-template #loading>
        <div class="loading-container">
            <mat-spinner>arrow_back</mat-spinner>
            <mat-card-title class="title">Loading...</mat-card-title>
        </div>
    </ng-template>
</mat-card>