.country-card{
    height: 87%;
    margin-top: 10px;
    margin-left: clamp(20px, 5vw, 1000px);
    margin-right: clamp(20px, 5vw, 1000px);
    overflow: auto;
}

.country-card-content {
    text-align: center;
}

.country-card-header {
    display: flex;
    justify-content: center;
}


.clear-btn:hover {
    cursor: pointer;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.loading-container .title {
    margin-top: 10px;
}